<style>
* {background-color: black; }.
h1 {color: blueviolet; font-style: oblique; font-size: 15px; font-family: cursive; animation-name: initial;}. 
div {color: brown; font-family: Verdana, Geneva, Tahoma, sans-serif;}.
</style>



