<style>
h1 {color: (blueviolet; font-size: 50px; font-family: cursive;
text-align:center;

}

h2 {font-family: Arial, Helvetica, sans-serif;}

.caixa {color: rgb(0, 0, 0); text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
   background-color: rgba(117, 6, 89, 0.547);


}

body {
    background-image: url(https://e0.pxfuel.com/wallpapers/945/97/desktop-wallpaper-acai-poke-bowls-breakfast-projeto-acai-acai.jpg);
   background-size: cover;
     background-repeat: no-repeat;
    background-position: center;
    } 


</style>

